
@tailwind base;
@tailwind components;
@tailwind utilities;

  body {
    @apply antialiased overflow-x-hidden;
    font-family: 'Montserrat', 'SF Pro Display', sans-serif;
    background: 
      radial-gradient(circle, rgba(0, 255, 208, 0.1) 2%, transparent 2%),
      linear-gradient(
        135deg, 
        rgba(18, 30, 58, 0.9), 
        rgba(5, 10, 25, 0.95)
      );
    background-size: 4em 7em, 100% 100%;
    background-color: rgba(5, 10, 25, 0.95);
    background-attachment: fixed;
    color: #ffffff;
    scroll-behavior: smooth;
    animation: backgroundScroll 44s linear infinite;
  }

  @keyframes backgroundScroll {
    from {
      background-position: 0 -500px, 0 0;
    }
    to {
      background-position: 0 0, 0 0;
    }
  }
